@font-face {
  font-family: 'Proxima nova';
  font-style: normal;
  font-weight: normal;
  src:
    url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
    url('../fonts/ProximaNova-Bold.woff') format('woff');
}